@import "../../app.scss";

.housagotchi-component .housagotchi-creature {

  display: flex;

  img {
    max-height: 300px;
    max-width: 300px;

    margin: 100px 0 100px 25%;
    display: flex;
    flex-grow: 1;
  }

}


@media all and (max-width: 1200px) {
  .housagotchi-component .housagotchi-creature {
    display: block;
  }
  .housagotchi-component .housagotchi-creature img {
    margin: 10px auto;
  }
}