@import "../../app.scss";

.housagotchi-component .housagotchi-balloon {

  display: flex;
  flex-grow: 1;
  flex-direction: column;


  .triangle-border {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid $highlight-colour;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  .triangle-border:before {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
  }

  .triangle-border:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
  }
}

@media all and (max-width: 1200px) {

  .housagotchi-component .housagotchi-balloon {
    display: block;
    clear: left;
    margin: 50px 25%;
  }

  .housagotchi-component .housagotchi-balloon .triangle-border:before {
    top: -20px;
    bottom: auto;
    left: auto;
    right: 40px;
    border-width: 0 20px 20px;
    border-color: $highlight-colour transparent;
  }

  .housagotchi-component .housagotchi-balloon .triangle-border:after {
    top: -13px;
    bottom: auto;
    left: auto;
    right: 47px;
    border-width: 0 13px 13px;
    border-color: #fff transparent;
  }

}

@media all and (max-width: 600px) {
  .housagotchi-component .housagotchi-balloon {
    margin: 50px;
  }
}

@media all and (min-width: 600px) and (max-width: 1200px) {
  .housagotchi-component .housagotchi-balloon {
    margin: 50px 20% 50px 20%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1300px) {
  .housagotchi-component .housagotchi-balloon {
    margin: 100px 150px 50px 50px;
  }
}

@media all and (min-width: 1300px) {
  .housagotchi-component .housagotchi-balloon {
    margin: 100px 20% 50px 50px;
  }
}

@media all and (min-width: 1200px) {

  /* creates the larger triangle */
  .triangle-border:before {
    top: 10px; /* controls vertical position */
    bottom: auto;
    left: -30px; /* value = - border-left-width - border-right-width */
    border-width: 15px 30px 15px 0;
    border-color: transparent $highlight-colour;
  }

  /* creates the smaller  triangle */
  .triangle-border:after {
    top: 16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom: auto;
    left: -21px; /* value = - border-left-width - border-right-width */
    border-width: 9px 21px 9px 0;
    border-color: transparent #fff;
  }

}